<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport">
  <meta content= "This is my personal website, describing what I do. I am currently studying
                  medicine at the University of Manitoba."
  name="description">
  <meta content="Yoonsik, Yoonsik Park, Toronto, Winnipeg, Canada" name="keywords">
  <title>Home - Yoonsik Park</title>
  <link href="./css/main.css" rel="stylesheet">
  <link href="/fonts/lato-v14-latin-900.woff" rel="preload" as="font" crossorigin>
  <link href="/fonts/roboto-v18-latin-700.woff" rel="preload" as="font" crossorigin>
  <link href="./assets/gradient_header_1x.jpg" rel="preload" as="image">
  <link href="./css/fonts.css" rel="stylesheet">
  <link href="https://www.naut.ca/humans.txt" rel="author" type="text/plain">
</head>
<body>
  <header id="header">
    <h1>Yoonsik Park</h1>
    <p><a href="https://github.com/yoonsikp"><img height="16" src="./assets/github.svg" width="16">
    Github</a> &nbsp;<a href="./blog/">&nbsp; <img height="16" src="./assets/ghost.svg" width="16">
    Blog &nbsp;</a></p>
  </header>
  <main>
    <p>My name is Yoonsik Park. I completed my B.Sc. at the University of Toronto for
    <strong>Bioinformatics & Computational Biology</strong> and <strong>Computer Science</strong>.
    I am currently studying <strong>Medicine</strong> at the University of Manitoba.</p>
    <h2>About Me</h2>
    <p>I live in Winnipeg, Manitoba. This past summer, I worked on a cancer machine learning
    project at the Vector Institute in Toronto.</p>
    <p>I decided to specialize in computational biology because I truly enjoy solving both
    biological and computer science problems. The process of synthesizing two different mindsets to
    produce novel solutions is extremely rewarding to me. Now, I am excited to learn more about the
    applications of machine learning to healthcare.</p>
    <h2>Projects</h2>
    <div class="showcase">
      <a href="https://github.com/yoonsikp/pycubelut"><img src="./assets/proj6.jpg"></a>
    </div>
    <h4>Adobe Cube LUT Image Tool</h4><small>December 2019</small>
    <p>Cube LUTs are powerful filters used to alter the look and feel of images, but generally
    require the use of proprietary software such as Adobe Photoshop. <a href=
    "https://github.com/yoonsikp/pycubelut">pycubelut</a> was created to be the first free and easy
    to use command-line tool for applying Cube LUTs to images. Download from <a href=
    "https://pypi.org/project/pycubelut/">PyPI</a> or <a href=
    "https://github.com/yoonsikp/pycubelut">GitHub</a>.<br>
    <br></p>
    <div class="showcase">
      <a href="https://github.com/yoonsikp/cnv-pathogenicity-prediction"><img src=
      "./assets/proj4.jpg"></a>
    </div>
    <h4>Predicting the Pathogenicity of Copy Number Variations</h4><small>Summer 2018</small>
    <p>In this project, multiple machine learning techniques (t-SNE, neural networks, XGBoost
    trees) are used to understand how certain features of large DNA duplications or deletions can
    predict disease outcome. The code repository and Jupyter notebooks <a href=
    "https://github.com/yoonsikp/cnv-pathogenicity-prediction">are on GitHub.</a><br>
    <br></p>
    <div class="showcase">
      <a href="./projects/air/"><img src="./assets/proj1.jpg"></a>
    </div>
    <h4 id="particles">Particulate Matter Sensor</h4><small>October 2017</small>
    <p>Check out the current <a href="./projects/air/">air quality</a> in my home! This project
    measures the level of particulate matter, i.e. very small particles suspended in the air, which
    have been linked to premature death, heart disease, and other serious health effects. The code
    for the <a href="https://github.com/yoonsikp/http-airsensor">sensors</a> and the <a href=
    "https://github.com/yoonsikp/graph-air">live graph</a> is available.</p>
    <h2>Publications</h2><i>Genome Gerrymandering: Optimal Division of the Genome into Regions with
    Cancer type Specific Differences in Mutation Rates.</i>
    <b>Pac Symp Biocomput 2020</b>. <a href=
    "https://www.ncbi.nlm.nih.gov/pubmed/31797603">[PubMed]</a> <a href=
    "https://www.worldscientific.com/doi/pdf/10.1142/9789811215636_0025?download=true">[PDF]</a>
    <h2>Contact</h2><a href=
    "mailto:&#112;ark&#046;yoo&#110;&#115;&#105;&#107;&#064;icloud.com">Email</a>:
    &#112;ark&#046;yoo&#110;&#115;&#105;&#107;&#064;icloud.com
    <p><a href="https://keybase.io/yoonsikp/">Keybase</a>: yoonsikp</p>
    <p><a href="https://keys.openpgp.org/search?q=49F4C2D1720FBD2EEA37D2A3D013D029499B69D7"
    target="_blank">PGP Key</a>: 49F4 C2D1 720F BD2E EA37 D2A3 D013 D029 499B 69D7</p>
  </main>
  <footer>
    Copyright 2020 &nbsp;| &nbsp;Handcrafted with <a href="/css/main.css">❤</a>
  </footer>
</body>
</html>

